@import "tailwindcss";

@layer base {
  body {
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  background: #e6e6ff;
}
.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}

/* ── Agrega aquí tus estilos globales si los necesitás ── */
